body {
    /* background: linear-gradient(0deg, rgba(31,30,30,1) 0%, rgba(60,61,61,1) 37%, rgba(65,65,66,1) 62%, rgba(38,39,40,1) 100%); */
    margin: 0;
    background-image: url(/Image/Background.png);
    padding: 0;
    width: 100%;
    overflow-y: scroll;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0;
    /* This will hide the vertical scrollbar */
}

/*Header*/
header {
    background-color: #130f40;
    background-color: #2d3436;
    /* background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
    background: radial-gradient(circle at 54.1% 78.8%, rgb(41, 41, 41) 0%, rgb(0, 0, 0) 99.4%);
    /* color: #ffffff; */
    padding: 35px;
    padding-bottom: 50px;
    border: 0px solid;
    position: fixed;
    display: flex;
    width: 100%;
    height: 3%;
    top: 0%;
}

/*Web Icon*/
#icon {
    display: flex;
    height: 70px;
    position: absolute;
    margin-top: -18px;
    margin-left: -30px;
}

/* Searcch Bar */
.search-container {
    position: absolute;
    display: flex;
    align-items: center;
    left: 20%;
    top: 30px;
    padding-right: 20px;

}

/* Search Bar Inpur */
input[type="search"].sn {
    color: #ccc;
    padding: 10px;
    padding-right: 80px;
    padding-left: 40px;
    padding-top: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    background-color: transparent;
}
input[type="search"].sn::-webkit-search-cancel-button {
    display: none;
}

/* Search Bar placeholder */
::placeholder {
    font-size: 18px;
    color: #ccc;
}

#search-icon {
    margin-left: -325px;
    color: #ccc;
    font-size: large;
    margin-top: 0px;
}

/* Sign In & Log Out */
.sign-log {
    position: absolute;
    left: 80%;
    font-size: larger;
    background: -webkit-linear-gradient(#143df5, #ff280c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    float: right;
}

/* Remove Link Effect */
a {
    text-decoration: none;
    color: #fff;
}

.profile-icon {
    position: absolute;
    height: 40px;
    left: 87%;
}

/* Open Setting Menu */
.set-icon,
.set-icon-2 {
    cursor: pointer;
    position: absolute;
    left: 90%;
    height: 40px;
    rotate: 90deg;
}

/* Close Setting Menu */
.set-icon-2 {
    display: none;
    rotate: 270deg;
}

/* Setting Menu */
.set-menu {
    position: absolute;
    display: none;
    height: 240px;
    width: 250px;
    /* background-color:rgb(51, 51, 51); */
    backdrop-filter: blur(30px);
    padding: 40px;
    margin-top: 50px;
    left: 75%;
    border-radius: 20px;
}

/* Setting Menu Option */
.setting,
.about,
.help,
.log-out {
    height: 30px;
    width: 250px;
    color: #dcdcdc;
    padding: 5px;
    padding-top: 15px;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: larger;
}

.setting:hover,
.about:hover,
.help:hover,
.log-out:hover {
    background: linear-gradient(to right, rgb(242, 95, 3) 0%, rgb(88, 31, 244) 100%);
}

/* Navigation Bar */
.navbar,
.navbar-2 {
    float: left;
    left: 0%;
    height: 480px;
    top: 16%;
    width: 15%;
    position: absolute;
    overflow: hidden;
    /* background-color: rgb(38, 38, 39); */
    border-radius: 15px;
    backdrop-filter: blur(10px);
    backdrop-filter: invert(10%);
    padding: 12px;
    padding-top: 15px;
    margin-left: 5px;
    z-index: -2;
}

/* Mini Navbar */
.navbar-2 {
    width: 3.5%;
    z-index: -1;
    display: none;
}

.navi,
.navi-menu,
.navi-2,
.navi-menu-2 {
    height: 30px;
    float: left;
    width: 220px;
    padding: 5px;
    padding-top: 10px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: larger;
    cursor: pointer;
}

.navi-2,
.navi-menu-2 {
    width: 40px;
}

.navi:hover,
.navi-menu:hover,
.navi-2:hover,
.navi-menu-2:hover {
    background: linear-gradient(to right, rgb(242, 95, 3) 0%, rgb(88, 31, 244) 100%);
}

/* Swipe Menu */
#menu-icon,
#menu-icon-2 {
    height: 23px;
    float: left;
    top: -2px;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
}

.navi-menu,
.navi-home,
.navi-browse,
.navi-history,
.navi-playlist,
.navi-liked,
.navi-download {
    color: #dcdcdc;
}

#browse-icon,
#playlist-icon,
#like-icon,
#history-icon,
#download-icon {
    height: 30px;
    float: left;
    top: -5px;
    margin-left: 5px;
    position: relative;
}

#home-icon {
    height: 25px;
    float: left;
    top: -5px;
    margin-left: 8px;
    position: relative;
}

#library-icon,
#library-icon-2 {
    height: 20px;
    top: 5px;
    margin-left: -5px;
    position: relative;
}

#library-icon-2 {
    margin-left: 13px;
}

.navi-library {
    color: #939393;
    margin-left: -5px;
    margin-bottom: 10px;
}

.navi-lib {
    margin-top: 220px;
}

a {
    text-decoration: none;
}

/* End Navigation Bar */

/* h3.trend-text{
    position: absolute;
    top: 20px;
    margin-left: 185px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:crimson;
    text-align: center;
    font-weight: bolder;
} */


/* trending Songs*/
.trend-bar {
    display: flex;
    position: absolute;
    height: 100px;
    width: 79%;
    margin-left: 270px;
    margin-top: 110px;
    overflow-x: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: transparent;
    z-index: -1;
    scrollbar-width: none; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.trend-container {
    display: flex;
}

.trend {
    width: 80px;
    /* Adjust as needed */
    height: 80px;
    /* Adjust as needed */
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ff2424, #4652ff);
    padding: 2px;
    position: relative;
    transition-duration: 0.4s;

}

.trend img {
    width: 100%;
    height: 100%;
}

.trend:hover {
    transform: scale(1.23);
    overflow: visible; 

}

#trend-previous {
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 30px;
    rotate: 180deg;
    padding-left: 20px;
    padding-right: 20px;
    top: 143px;
    /* margin-left: -110px; */
    left: 16%;
    z-index: -1;
}

#trend-next {
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    top: 143px;
    /* margin-left: -110px; */
    left: 1465px;
    z-index: -1;
}


/* Music Container For(For You) */
.for-you-container {
    position: absolute;
    display: inline-flex;
    top: 230px;
    width: 80%;
    left: 18%;
    height: 200px;
    z-index: -2;
}

#for-you-title,
#new-releases-title {
    position: absolute;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/* See All Music Title */
#see-all-title {
    position: absolute;
    left: 94%;
    color: #ff5a5a;
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.for-you-music,
.new-releases-music {
    position: relative;
    float: left;
    height: 140px;
    width: 250px;
    margin-top: 65px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 90px;
    overflow: hidden;
    display: flex;
}

/* Music Image Cover */
.music-img {
    height: 130px;
    width: 250px;
    transition: 0.3s;
    transition: 2s;
}

.music-image-name {
    color: white;
}

/* Music Image Play Icon */
.play-icon {
    position: absolute;
    margin-top: 45px;
    margin-left: 85px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 10px red;
    border-radius: 90px;
    padding-left: 17px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
    cursor: pointer;
    opacity: 0;
}

#play-icon {
    color: white;
    opacity: 1;
    transition-duration: 0.3s;
    font-size: 20px;

}

/* Hover on for-you-music class And Affect on Play-icon */
.for-you-music:hover #play-icon,
.new-releases-music:hover #play-icon {
    transform: scale(1.50);
}

.for-you-music:hover .play-icon,
.new-releases-music:hover .play-icon {
    opacity: 1;
}

.for-you-music:hover,
.new-releases-music:hover {
    background-color: transparent;
    opacity: 0.7;
}

.new-releases-container {
    position: absolute;
    display: inline-flex;
    top: 460px;
    width: 80%;
    left: 18%;
    height: 200px;
    z-index: -2;
}


/* Footer */
footer {
    background-color: #1e1e1e;
    padding: 30px 0;
    color: #ffffff;
    top: 1000px;
    position: absolute;
    width: 100%;
    z-index: -2;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
}

.footer-column {
    flex: 1;
    max-width: 200px;
    margin-bottom: 30px;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.footer-column ul li a:hover {
    color: #ffb400;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #333333;
}

@media only screen and(max-width:376px){
    body{
        width: 35%;
    }
} 